$gutter: 20px;
$line-height: 24px;

// Font sizes
$button-font-size: 15px;
$p-font-size: 16px;
$small-font-size: 14px;

// Shadows
$right-drawer-shadow:
  6px 0 4px 8px rgba(#000, .04),
  5px 0 6px 8px rgba(#000, .08),
  4px 0 8px 8px rgba(#000, .16)
;

// $tooltip-shadow:
//   0 1px 12px (-3px) rgba(#000, .2),
//   0 2px 4px         rgba(#000, .2),
//   0 1px 4px    1px  rgba(#000, .1),
//   0 0   5px         rgba(#000, .05)
// ;
