@use './scss/const' as *;

@use './scss/html' as *;
@use './scss/form-controls' as *;
@use './scss/fade-scroll' as *;

$preview-size: 512px;
$options-width: 250px;

main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  min-width: $preview-size + $options-width + $gutter * 2;
  height: 100vh;
  height: 100dvh;
  color: $grey-900;
}

.preview {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-width: $preview-size + $gutter * 2;
  padding: $gutter;
}

.preview__checkerboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url-encode("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' opacity='.0625'><path fill='#000' d='M0,0H1V2H2V1H0'/><path fill='#fff' d='M0,1H2V0H1V2H0'/></svg>") 50% 50% / 20px 20px;
}

.options__container {
  position: relative;
  width: $options-width;
  min-width: $options-width;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background: $grey-300;
  box-shadow: $right-drawer-shadow;
}

.options {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0 10px $gutter;
}

svg {
  display: inline-block;
  vertical-align: top;
}

.source-link {
  display: block;
  align-self: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-top: $gutter;
  border-radius: 50%;
  color: $grey-600;

  &:hover {
    color: $grey-800;
  }

  svg {
    fill: currentColor;
  }
}

small {
  color: $grey-600;
  font-size: $small-font-size;
  line-height: $line-height;
}

.icon {
  position: relative;

  svg {
    position: relative;
  }
}

.icon__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

$cropmark-size: 8px;

.icon__cropmark {
  position: absolute;
  width: $cropmark-size;
  height: $cropmark-size;
  
  &:before, &:after {
    content: '';
    position: absolute;
    width: $cropmark-size;
    height: 1px;
    background: #fff;
    box-shadow: #000 0 1px, #000 0 -1px;
  }

  &:after {
    width: 1px;
    height: $cropmark-size;
    box-shadow: #000 1px 0, #000 -1px 0;
  }
}

.icon__cropmark--top-left {
  top: -$cropmark-size;
  left: -$cropmark-size;
  
  &:before {
    top: 100%;
    left: 0;
  }

  &:after {
    top: 0;
    left: 100%;
  }
}

.icon__cropmark--top-right {
  top: -$cropmark-size;
  right: -$cropmark-size;

  &:before {
    top: 100%;
    right: 0;
  }

  &:after {
    top: 0;
    right: 100%;
  }
}

.icon__cropmark--bottom-right {
  right: -$cropmark-size;
  bottom: -$cropmark-size;

  &:before {
    right: 0;
    bottom: 100%;
  }

  &:after {
    right: 100%;
    bottom: 0;
  }
}

.icon__cropmark--bottom-left {
  bottom: -$cropmark-size;
  left: -$cropmark-size;

  &:before {
    bottom: 100%;
    left: 0;
  }

  &:after {
    bottom: 0;
    left: 100%;
  }
}
