@use './const' as *;

$_focus: #0088dd;
$_focus-hover: #0099ee;
$_focus-active: #0077cc;

// Taken from modern-normalize
button, input, optgroup, select {
  font-family: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

select {
  text-transform: none;
}

button {
  text-transform: none;
  letter-spacing: inherit;
  appearance: button;
}

@mixin focus-outline($color) {
  border-color: $color;
  outline: 0;
  box-shadow: 0 0 7px rgba($color, .5);
};

$_form-margin: 12px;

fieldset {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: $gutter 0 0 0;
  padding: $_form-margin 8px;
  border: 1px solid $grey-400;
  border-radius: 4px;
}

legend {
  position: absolute;
  top: -$line-height * .5;
  left: 50%;
  padding: 0 6px;
  height: $line-height;
  line-height: $line-height;
  background: $grey-300;
  color: $grey-600;
  font-size: $button-font-size;
  transform: translate(-50%);
  white-space: nowrap;
}

label {
  display: block;
  max-width: 100%;
  font-size: $p-font-size;
  line-height: $line-height;
  text-align: left;
  white-space: nowrap;
}

/**
 * Form Groups
 */
.form__group {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-top: $_form-margin;
  width: 100%;
}

.form__subgroup {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

/**
 * Form Controls
 */
$_from-control-x-padding: 5px;
$_form-control-y-padding: 3px;
$form-control-height: $line-height + $_form-control-y-padding * 2;

%_form__control {
  display: block;
  width: 100%;
  height: $form-control-height;
  padding: $_form-control-y-padding $_from-control-x-padding;
  font-size: $p-font-size;
  line-height: $line-height;
  color: $grey-900;
  background-color: $grey-400;
  border-radius: 4px;
  border: 1px solid $grey-500;

  &:hover {
    border-color: $grey-600;
  }

  .form__control-group & {
    width: 50%;
  }
}

/**
 * Shared size and type resets for form controls.
 * Apply `.form__control` to any of the following input elements:
 *
 * select
 * textarea
 * not(input[type="checkbox"], input[type="radio"])
 */
.form__control {
  @extend %_form__control;
  text-align: left;

  &:focus {
    @include focus-outline($_focus);
  }
}

button {
  @extend %_form__control;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: $button-font-size;
  outline: 0;

  &:hover {
    background-color: $grey-500;
  }

  &:active {
    padding: ($_form-control-y-padding + 1px) $_from-control-x-padding ($_form-control-y-padding - 1px);
    border-color: $grey-500;
    background: $grey-400;
    color: $grey-700;
  }
}

input[type=color] {
  padding: 0;
}

$_checkbox-radio-size: $line-height - 2px;

@mixin range-thumb {
  appearance: none;
  border: 2px solid $grey-500;
  border-radius: 50%;
  width: $_checkbox-radio-size;
  height: $_checkbox-radio-size;
  background: $grey-400;
  cursor: pointer;
}

@mixin range-track {
  appearance: none;
  border-radius: ($_checkbox-radio-size - 4px) * 0.5;
  width: 100%;
  height: $_checkbox-radio-size - 4px;
  background: $grey-200;
}

input[type=range] {
  appearance: none;
  margin: ($form-control-height - $_checkbox-radio-size) * 0.5 0;
  border-radius: ($_checkbox-radio-size - 4px) * 0.5;
  width: 100%;
  height: $_checkbox-radio-size;
  background: none;

  &::-webkit-slider-thumb {
    @include range-thumb;
    width: $_checkbox-radio-size + 4px;
    height: $_checkbox-radio-size + 4px;
    margin-top: -4px;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &:hover {
    &::-webkit-slider-thumb {
      border-color: $grey-600;
      background: $grey-500;
    }
    
    &::-moz-range-thumb {
      border-color: $grey-600;
      background: $grey-500;
    }
  }
}

input[type=checkbox], input[type=radio] {
  appearance: none;
  position: relative;
  width: $_checkbox-radio-size;
  height: $_checkbox-radio-size;
  border: 2px solid $grey-500;
  background: $grey-400;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    border-color: $grey-600;
  }

  &:focus {
    @include focus-outline($_focus);
  }

  &:disabled {
    border-color: $grey-400 !important;
    background-color: $grey-300 !important;
    cursor: default;

    &:before {
      opacity: 0.5;
    }
  }
}

input[type=checkbox] {
  border-radius: 4px;

  &:checked {
    background: $_focus;

    &:before {
      background: url-encode("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:10' d='M16.1,33.4 L27.3,46.4 L51,17.6'/></svg>") 50% 50% / 100% 100%;
    }

    &:hover {
      background: $_focus-hover;
    }

    &:active {
      background: $_focus-active;
    }
  }
}

input[type=radio] {
  border-radius: 50%;

  &:checked {
    border-color: $_focus;

    &:before {
      border: 3px solid $grey-300;
      border-radius: 50%;
      background: $_focus;
    }

    &:hover {
      border-color: $_focus-hover;

      &:before {
        background: $_focus-hover;
      }
    }

    &:active {
      border-color: $_focus-active;

      &:before {
        background: $_focus-active;
      }
    }
  }
}

/**
 * Checkboxes and Radios
 * (to be used instead of '.form__group' for radio and checkbox inputs)
 */
.form__radio, .form__checkbox {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  padding: 0;
  text-align: left;

  label {
    padding-right: 4px;
    width: auto;
    cursor: pointer;
  }

  &.disabled {
    color: $grey-500;

    label {
      cursor: default;
    }
  }

  svg {
    margin-left: 4px;
    height: $line-height;
  }
}
